# Server Properties
#-----------------------------------------------------------
Server.IP=127.0.0.1
Server.Port=54321


# Timer Properties
#-----------------------------------------------------------
# MSecPerTick -- sleep time between ticks (in msec)
# SimulationSpeed -- no. of realtime msec per simulated sec
#-----------------------------------------------------------
Timer.MSecPerTick=1
Timer.SimulationSpeed=10


# SLC Properties
#-----------------------------------------------------------
SLC.PollingTime=6000


# Barcode Reader Properties
#-----------------------------------------------------------
BarcodeReader.Barcode1=4107-7014
BarcodeReader.Barcode2=2026-6202
BarcodeReader.Barcode3=1005-5001


# Octopus Card Reader Properties
#-----------------------------------------------------------
OctopusCardReader.OctopusCard1=83716851(5)
OctopusCardReader.OctopusCard1.cost1=1.30

OctopusCardReader.OctopusCard2=24575673(4)
OctopusCardReader.OctopusCard2.cost2=15.70

OctopusCardReader.OctopusCard3=19827346(3)
OctopusCardReader.OctopusCard3.cost3=22.10

# Lockers Properties [accessCode, status, storageTime]
# barcode access = > Update [accessCode, storageTime]

# accessCode access = > Update [accessCode->null,storageTime->null]
#-----------------------------------------------------------
Lockers.Locker1 = 123456-close-null
Lockers.Locker2 = null-open-null